# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Training data
yolo-ppe-detection/
archive.zip

# Experiment outputs
runs/
outputs/

# Temporary files
*.tmp
*.temp

# OS / IDE
.DS_Store
Thumbs.db
.vscode/